<!DOCTYPE html>

<head>
	<link rel="shortcut icon" href="../public/img/favicon_2.ico" type="image/x-icon">
	<link rel="icon" href="../public/img/favicon_2.ico" type="image/x-icon">
	
	<link rel="stylesheet" type="text/css" media="screen and (max-width: 640px)" href="../stylesheets/devices/640stylesheet.css">
  <link rel="stylesheet" type="text/css" media="screen and (min-width: 641px) and (max-width: 800px)" href="../stylesheets/devices/800stylesheet.css">
  <link rel="stylesheet" type="text/css" media="screen and (min-width: 801px) and (max-width: 1024px)" href="../stylesheets/devices/1024stylesheet.css">
  <link rel="stylesheet" type="text/css" media="screen and (min-width: 1025px)" href="../stylesheets/devices/1280stylesheet.css">

	<title>GalbraithWight LTD - Our Clients</title>
</head>

<body>



	<div id="footer">
		<div id="left_footer">
			Copyright &copy; 2014 Hannah Wight.
		</div>
		<div id="right_footer">
			<a href="http://github.com/HannahCRW/GWL_website" target="_blank">This site on Github</a>
	</div>
</body>