<!DOCTYPE html>
<head>
	<link rel="shortcut icon" href="../img/favicon_2.ico" type="image/x-icon">
	<link rel="icon" href="../img/favicon_2.ico" type="image/x-icon">
	
	<link rel="stylesheet" type="text/css" media="screen and (max-width: 640px)" href="../stylesheets/devices/640stylesheet.css">
  <link rel="stylesheet" type="text/css" media="screen and (min-width: 641px) and (max-width: 800px)" href="../stylesheets/devices/800stylesheet.css">
  <link rel="stylesheet" type="text/css" media="screen and (min-width: 801px) and (max-width: 1024px)" href="../stylesheets/devices/1024stylesheet.css">
  <link rel="stylesheet" type="text/css" media="screen and (min-width: 1025px)" href="../stylesheets/devices/1280stylesheet.css">

	<title>GalbraithWight LTD - Home</title>
</head>
<body>
	<nav>
		<div class="home_logo">
			<img id="home_logo_img" src="../img/GW_logo_recolour.png" alt="GWL_logo">
		</div>

		<section id="nav_buttons">
			<div id="about-button">
				<button id="about">
					ABOUT
				</button>
			</div>
	
			<div id="clients-button">
				<button id="clients">
					CLIENTS
				</button>
			</div>
	
			<div id="contact-button">
				<button id="contact">
					CONTACT
				</button>
			</div>
	
			<div id="news-button">
				<button id="news">
					NEWS
				</button>
			</div>
	
			<div id="team-button">
				<button id="team">
					TEAM
				</button>
			</div>
		</section>
	</nav>

	<section id="colour_bar">
	</section>

	<section id="top_text">
		test writing to see text colour and <a href="/">hyperlink colour</a>
	</section>
</body>