<!DOCTYPE html>
<head>
	<link rel="shortcut icon" href="../public/img/favicon_2.ico" type="image/x-icon">
	<link rel="icon" href="../public/img/favicon_2.ico" type="image/x-icon">
	<link rel="stylesheet" href="../public/stylesheets/stylesheet.css" type="stylesheet">
</head>
<body>
	<nav>
		<div class="home_logo">
			<img src="../public/img/GW_logo_recolour.png" alt="GWL_logo" height="100" width="525">
		</div>

		<section id="nav_buttons">
			<div id="about-button">
				ABOUT
			</div>
	
			<div id="clients-button">
				CLIENTS
			</div>
	
			<div id="contact-button">
				CONTACT
			</div>
	
			<div id="news-button">
				NEWS
			</div>
	
			<div id="team-button">
				TEAM
			</div>
		</section>
	</nav>

	<section id="top_text">
		test writing to see text colour and <a href="/">hyperlink colour</a>
	</section>
</body>