<!DOCTYPE html>
<head>
	<link rel="shortcut icon" href="../img/favicon_2.ico" type="image/x-icon">
	<link rel="icon" href="../img/favicon_2.ico" type="image/x-icon">

	<link href='http://fonts.googleapis.com/css?family=Michroma|PT+Sans+Caption' rel='stylesheet' type='text/css'>
	
	<link rel="stylesheet" type="text/css" media="screen and (max-width: 640px)" href="../stylesheets/devices/640stylesheet.css">
  <link rel="stylesheet" type="text/css" media="screen and (min-width: 641px) and (max-width: 800px)" href="../stylesheets/devices/800stylesheet.css">
  <link rel="stylesheet" type="text/css" media="screen and (min-width: 801px) and (max-width: 1024px)" href="../stylesheets/devices/1024stylesheet.css">
  <link rel="stylesheet" type="text/css" media="screen and (min-width: 1025px)" href="../stylesheets/devices/1280stylesheet.css">

	<title>GalbraithWight LTD - Home</title>
</head>
<body>
	<nav>
		<div class="home_logo">
			<img id="home_logo_img" src="../img/GW_logo_recolour.png" alt="GWL_logo">
		</div>

		<section id="nav_buttons">
			<div id="about-button">
				<button id="about">
					ABOUT
				</button>
			</div>
	
			<div id="clients-button">
				<button id="clients">
					CLIENTS
				</button>
			</div>
	
			<div id="contact-button">
				<button id="contact">
					CONTACT
				</button>
			</div>
	
			<div id="news-button">
				<button id="news">
					NEWS
				</button>
			</div>
	
			<div id="team-button">
				<button id="team">
					TEAM
				</button>
			</div>
		</section>
	</nav>

	<section id="colour_bar">
	</section>

	<section id="top_text">
		<div id="eye_img_div">
			<img id="eye_img" src="../img/GWL_eye.png" alt="GWL_eye">
		</div>
		<div class="info_text">
			Helping our clients identify, create and communicate the optimum market access solution at any or all stages of the development and commercialisation process through the brand life cycle, globally.
		</div>
	</section>


	<section id="services_links">
		<div class="link_holder">
			<div class="link_img">
				<img src="../img/blue_globe.png" id="market_access_img">
			</div>
			<div class="link_text">
				Market Access
			</div>
		</div>
		<div class="link_holder">
			<div class="link_img">
				<img src="../img/blue_globe.png" id="market_access_img">
			</div>
			<div class="link_text">
				New Product Planning
				&amp; Launch Excellence
			</div>
		</div>
		<div class="link_holder">
			<div class="link_img">
				<img src="../img/blue_globe.png" id="market_access_img">
			</div>
			<div class="link_text">
				Brand Planning &amp;
				Marketing Excellence
			</div>
		</div>
		<div class="link_holder">
			<div class="link_img">
				<img src="../img/GWL_favicon.png" id="business_school_img">
			</div>
			<div class="link_text">
				Galbraith Wight
				<br> Business School
			</div>
		</div>
	</section>


	<section id="colour_bar" style="margin-top:30%;">
	</section>

	<div id="footer">
		<div id="left_footer">
			Copyright &copy; 2014 Hannah Wight.
		</div>
		<div id="center_footer">
			<a href="/sitemap">sitemap</a>
		</div>
		<div id="right_footer">
			<a href="http://github.com/HannahCRW/GWL_website" target="_blank">This site on Github</a>
	</div>
</body>